.central {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.checkout {
  border: none;
  font-weight: bold;
  letter-spacing: 0.01rem;
  color: white;
  background: black;
  padding: 1rem;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.2s ease all;
  &:hover {
    background: #4b84aa;
    transform: scale(1.1);
  }
}

.quant {
  border: none;
  border-bottom: 2px solid lightgray;
  font-size: 1rem;
  color: #8a8a8a;
  font-weight: bold;
  max-width: 50px;
}

.update {
  max-width: 16px;
  height: auto;
  path {
    fill: #6b6b6b;
  }
}

.btn {
  border: none;
  color: #444444;
  font-weight: 700;
  font-size: 0.7rem;
  cursor: pointer;
  padding: 7px;
  border-radius: 5px;
  transition: ease all 0.1s;
  background: none;
  &:hover {
    background: #d3d3d3;
  }
}
