.tableStyle {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  border-spacing: 0;
  thead {
    background: #141514;
    color: white;
    text-align: left;
  }
  tbody {
    border: 1px solid rgb(204, 204, 204);
  }

  @media only screen and (min-width: 680px) {
    td {
      padding: 1rem 2rem;
    }
  }
}
