.grid * {
  color: #141514;
}

.grid {
  padding: 2rem 1vw;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  align-items: stretch;
}

.card {
  border: 1px solid lightgray;
  background: white;
  border-radius: 5px;
}

.card h3 {
  font-size: 1.2rem;
}

.card img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.7rem;
}

.content {
  position: relative;
  padding: 0.7rem 1.2rem;
  min-height: 170px;
}

.content p {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.btn {
  position: absolute;
  background: none;
  border: none;
  right: 0;
  bottom: 0;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  margin-right: 0.2rem;
  cursor: pointer;
  transition: ease 0.2s all;
  &:hover {
    background: lightgray;
  }
}
